<label class="relative text-gray-400 focus-within:text-gray-600 block">
    <input (blur)="onTouched()"
           (input)="onChange(value)"
           [(ngModel)]="value"
           [disabled]="disabled"
           [ngClass]="{'border-pink-500 ': showError}"
           [placeholder]="inputPlaceholder"
           [type]="inputType || 'text'"
           [value]="value"
           class="clear-input block border border-grey-light w-full p-3 rounded mb-4"
    >
    <span (click)="clear()" *ngIf="value != ''" class="clear">
        <svg class="cursor-pointer w-6 h-6 absolute top-1/2 transform -translate-y-1/2 right-3" fill="none"
             stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    </span>
</label>

<div *ngIf="showError" class="clear-button-errors">
    <div *ngIf="errors?.required" class="text-pink-500">This field is required</div>
    <div *ngIf="errors?.emailExists" class="text-pink-500">This email is in use</div>
    <div *ngIf="errors?.email" class="text-pink-500">Invalid email address</div>
    <div *ngIf="errors?.minlength" class="text-pink-500">At least 8 characters are required</div>
    <div *ngIf="errors?.passwordContainsName && value" class="text-pink-500">Password should not contain first or last name</div>
    <div *ngIf="errors?.passwordStrength && value" class="text-pink-500">At least 1 capital character is required</div>

</div>
