<div class="bg-grey-lighter min-h-screen flex flex-col">
    <nav class="flex items-center justify-center flex-wrap bg-teal p-6">
        <div class="flex items-center flex-no-shrink mr-6">
            <img alt="Fedex Logo" src="/assets/images/logos/fedex.png"/>
        </div>
    </nav>

    <router-outlet></router-outlet>
</div>



